/* for everything related to notices */

#bds-notice-tray {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 9001;
    width: 18em;
}

.bds-notice {
    position: relative;
    border: 1px solid #999999;
    background-color: #BBC2BB;
    padding: 5px;
    margin: 5px;
    float: left;
    clear: both;
}

.bds-notice p {
    padding: 10px;
}

.bds-notice h1 {
    text-align: center;
}

.bds-notice div.links {
    font-size: 8pt;
    text-align: right;
}
